/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-abr-2022, 18:15:54
    Author     : Victor
*/

.body{
    margin: 0;
    padding: 0;
    background: url(Video_fondo.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    
}